@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Ensure smooth font rendering */
@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
